Future filthy Bally's and Nugget floor fans rejoice! RoomBaht will remain open for sweeping, mopping, and room swapping* through the weekend. <strong>Room swaps will close Sunday, November 9 at 11:59pm pst.</strong>

We apologize again for the development delays that led to RoomBaht opening so last-minute. We heard your frustration, so in order to better clean your floors, we worked with the hotels to allow room swaps to remain open a bit longer.

So sweep, mop, and swap to your hearts’ content. At least until Sunday.

* Original room swapping restrictions apply. See your RoomBaht onboarding email. No purchase necessary to enter sweepstakes.
